.container {
    position: relative;
    overflow: hidden;
  }
  
  .list {
    list-style: none;
    padding: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
    overflow-x: scroll; /* Enable native scrolling */
    -ms-overflow-style: none; /* Hide scrollbar on IE/Edge */
    scrollbar-width: none; /* Hide scrollbar on Firefox */
  }
  
  .list::-webkit-scrollbar {
    display: none; /* Hide scrollbar on Chrome/Safari */
  }
  
  .list li {
    padding: 10px;
  }
  
  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); /* Transparent black background */
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  
  .scroll-button:hover {
    opacity: 1;
  }
  
  .left {
    left: 10px;
  }
  
  .right {
    right: 10px;
  }
  